mixin para(i)
    if (i == 0)
        | #[+value(data.Defensive.Tackles.TklW[team][0][0])] won 
        | #[+value(data.Defensive.Tackles.TklW[team][0][1])] tackles, more than any other player on the team.
    if (i == 1)
        | With #[+value(data.Defensive.Tackles.TklW[team][1][1])] tackles, #[+value(data.Defensive.Tackles.TklW[team][1][0])] won the next highest amount.

p #[+para(0)]
p #[+para(1)]